circular_queue
binary_search_tree
binary_min_heap
dynamic_array
singly_linked_list
doubly_linked_list
trie
sparse_undirected_graph
dense_undirected_graph
dense_directed_graph
string_permutation
sparse_directed_graph
bits
primes
singleton
factory
observer
decorator
strategy
fibonacci
hashmap
bubblesort
binary_search
mergesort
selectionsort
quicksort
multithread_array_sum
reverse
shared_ptr
task_based_concurrency
intrinsics
